*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fb923c;
}

#header{
    background-color: #fdba74;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

h1{
    margin-left: 15px;
    font-size: 3em;
}

.btns-div{
    display: flex;
    gap: 5em;
    margin-right: 15px;
}

button{
    padding: 10px;
    width: 100px;
}